<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Estilo de Aprendizaje</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head> 
<body>

    <div id="resultado-container">
        <h2>Resultados de {{ nombre }} {{ apellido }}</h2>

        <h3>📌 Estilo de aprendizaje predominante:</h3>
        <p><strong>{{ estilo }}</strong></p>

        <h3>📊 Rendimiento académico</h3>
        <p>Tu promedio general de tus 3 últimos ciclos es: <strong>{{ promedio_rendimiento }}</strong></p>
        <p>Tu escala de clasificación es: <strong>{{ tipo_rendimiento }}</strong></p>

        <div class="botones">
            <a href="{{ url_for('dashboard') }}"><button>Volver</button></a>
            <a href="{{ url_for('encuesta', pagina=ultima_pagina) }}"><button>Volver a realizar la encuesta</button></a>
            <a href="{{ url_for('recomendaciones') }}" ><button>Ver recomendaciones</button></a>
            <a href="{{ url_for('prediccion_nota') }}"><button>📊 Ver Predicción de Nota</button></a>
           
    </div>

</body>
</html>
